@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Mono&family=Roboto:wght@100;300&display=swap");
nav {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  background-color: rgb(192, 192, 192);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav_section_left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 70px;
  padding: 10px;
  color: white;
  font-family: Parisienne;
  text-decoration: none;
}
.nav_section_right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.pg_link {
  background: none;
  color: rgb(53, 53, 53);
  font-family: Parisienne;
  height: 100%;
  padding: 30px;
  margin-right: 30px;
  margin-top: 5px;
  text-decoration: none;
  transition: color 0.25s;
  cursor: pointer;
  font-size: 30px;
}

.pg_link:hover {
  color: white;
}

.a1 {
  text-decoration: none;
  color: white;
  font-family: Roboto;
}

header {
  margin-top: 78px;
  background-color: brown;
  width: 100%;
  height: 500px;
}

body {
  background-color: rgb(65, 65, 65);
  padding: 0;
  margin: 0;
}

section {
  background-color: rgb(255, 231, 164);
  height: 700px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 50%;
}

input {
  border: 2px solid rgb(124, 50, 6);
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  width: 100%;
}

.button {
  border: 2px solid rgb(124, 50, 6);
  color: rgb(54, 54, 54);
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  width: 50%;
  transition: all 0.25s;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(124, 50, 6);
  color: rgb(201, 201, 201);
}

footer {
  background-color: rgb(39, 39, 39);
  width: 100%;
  height: 300px;
  margin: auto;
}
.footer_content {
  grid-template-rows: 200px;
  grid-template-columns: 500px 500px 500px;
  display: grid;
  grid-template-areas: "col1 col2 col3";
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.col1 {
  grid-area: col1;
}
.col2 {
  grid-area: col2;
}
.col3 {
  grid-area: col3;
}
